<div class="container">
  <form action="#">
    <h3>Add New User</h3>
    <hr>
    <div class="row">
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="fn" class="form-control"
               (keyup)="checkInfoValid()" [(ngModel)]="firstName" placeholder="First Name" aria-describedby="sizing-addon1" required>
      </div>
    </div>
    <div class="row">
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="ln" class="form-control"
               (keyup)="checkInfoValid()" [(ngModel)]="lastName" placeholder="Last Name" aria-describedby="sizing-addon2" required>
      </div>
    </div>
    <div class="row">
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon3"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" name="email" class="form-control"
               (keyup)="checkInfoValid()" [(ngModel)]="email" placeholder="Email" aria-describedby="sizing-addon3" required>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success btn-block" (click)="addNewUser()" [disabled]="cannotCommit">Submit</button>
    </div>
  </form>
</div>


